a:link {color:#0000ff;}
a:visited {color:#ff0000;}
a:hover {color:#999999;}

body {background-color: #fdccab;}

nav {
    padding: 10px;
    margin-bottom: 30px;   
   }
nav {background-color:#e62828;}
nav a:link {color:#2f50e4;}
nav a:visited {color:#050505;}
nav a:hover {background-color: #50c163;}